@model IEnumerable<Controle.Cursos.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedores</h1>

<p>
    <a asp-action="Create">Cadastrar novo Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoEstadual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoEstadual)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
