@model IEnumerable<Controle.Cursos.Models.Solicitacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Solicitações</h1>

<p>
    <a asp-action="Create">Criar uma nova solicitação de Curso</a>
</p>
<table class="table" id="tabelaSolicitacao">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etapa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etapa)
            </td>
            <td> 
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
